<!DOCTYPE html>
<html>
<head>
  <title>Defra ruby features</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "defra/ruby/features/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
